.content{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.contents{
    height: 50px;
    background-color: rgb(211, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.contents span{
    color: #555;
}